:root {
    --poppy: #d64045ff;
    --mint-green: #e9fff9ff;
    --non-photo-blue: #9ed8dbff;
    --ucla-blue: #467599ff;
    --delft-blue: #1d3354ff;
    --onyx: #403f4cff;
    --red-crayola: #e84855ff;
    --naples-yellow: #f9dc5cff;
    --azure: #3185fcff;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    min-height: 100%;
    position: relative;
}

html,
html:focus-within {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

img,
picture,
video,
canvas {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select,
input::placeholder {
    font: inherit;
}

button,
input[type="button"],
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
input[type="file"] {
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

    html,
    html:focus-within {
        scroll-behavior: auto;
    }
}



/* GAME GRID STYLE */

body {
    background-color: var(--mint-green);
    font-family: "Mali", cursive;
}

.game-header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-bottom: 30px;
}

.game-title {
    text-align: center;
    font-size: 65px;
    color: var(--onyx);
}

.score {
    margin: 10px 0;
    font-size: 24px;
}

.game-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    max-width: 420px;
}

.square {
    background-color: var(--onyx);
    aspect-ratio: 1;
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mali';
    font-size: 92px;
    height: 130px;
    width: 130px;
}

.square:hover {
    cursor: pointer;
    opacity: 0.8;
}

.x {
    color: var(--poppy);
    opacity: 0.8;
}

.o {
    color: var(--azure);
    opacity: 0.8;
}

.win {
    background-color: var(--naples-yellow);
}

.reset {
    font-family: "Mali";
    font-size: 24px;
    font-weight: bold;
    color: var(--mint-green);
    background-color: var(--onyx);
    margin-top: 30px;
    width: 200px;
    border-radius: 10px;
}

.new-round {
    font-size: 24px;
    padding: 15px 10px;
    font-weight: bold;
    margin-top: 30px;
    color: var(--mint-green);
    background-color: var(--azure);
    width: 200px;
    border-radius: 10px;
    border: 0;
}

.modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    background-color: var(--onyx);
    color: var(--mint-green);
    z-index: 5;
}

.hidden {
    display: none !important;
}

.card-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.info-container {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.logo {
    max-width: 200px;

}

.main-title {
    font-size: 65px;
    margin-bottom: 20px;
}

label {
    font-size: 18px;
}

input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 10px;
    height: 80px;
    aspect-ratio: 12/3;
    font-size: 24px;
    color: var(--onyx);
    background-color: var(--mint-green);
    border-radius: 10px;
}

input::placeholder {
    font-size: 24px;
}

.error-text {
    color: var(--poppy);
}

.error {
    border: 3px solid var(--poppy);
}

.start-button {
    font-family: "Mali";
    font-size: 24px;
    font-weight: bold;
    color: var(--onyx);
    background-color: var(--mint-green);
    border-radius: 10px;
    padding: 20px;
}

.winner-popup {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--onyx);
    z-index: 7;
}

.popup-container {
    width: 500px;
    height: 400px;
    background-color: rgba(249, 220, 92, 0.936);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 72px;
    font-weight: bold;
    border-radius: 15px;
    border: 2px solid var(--onyx);
}

.popup-container .new-round {
    font-size: 24px;
    padding: 15px 10px;
    color: var(--mint-green);
    background-color: var(--azure);
    border-radius: 12px;
    border: 0;
}

.popup-container .restart {
    font-size: 24px;
    padding: 15px 10px;
    color: var(--mint-green);
    background-color: var(--onyx);
    border-radius: 12px;
    border: 2px solid var(--onyx);
}